.comment{

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
        margin:0.2rem;
        padding: 0.5rem;
        
      
        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
      
        backdrop-filter: blur(15px);
      
}