.card{
    width: 279px;
    height: 201px;
    border-radius: 30px;
    background: rgba(255, 131, 62, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.nameGroup{
    color: #000;
    text-align: center;
    font-family: "Kdam Thmor";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 102.539px; /* 410.156% */
}

.deleteB{
    width: 126px;
    height: 55px;
    border-radius: 10px;
    background: #F44;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 70px;
}

/* RESPONSIVE */
/* Telefono SmarthPhone Android Large ---> 300px x 800px*/
@media (min-width: 300px) and (max-width: 800px){
    .card{
        width: 150px;
        height: 100px;
        margin-bottom: 30px;
    }

    .nameGroup{
        font-size: 15px;
        font-weight: 0px;
    }

    .deleteB{
        width: 80px;
        height: 30px;
        margin-top: -40px;
    }

    /* Tablet ¡Pad Pro 11" 830px x 1190px*/ 
@media (min-width: 830px) and (max-width: 1190px){
    .card{
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
    }
}
}