.header {
  width: 100%;
  height: 3rem;
  background: #fff;
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-widht: 266px) {
  .text {
    margin-right: 10px;
  }
}

.text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  text-decoration: none;
  margin-right: 120px;
}

.logout {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background: #f6821f;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  background-image: url("../../public/Logo.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  padding: 0;
  margin-top: -10px;
}
