.mainTitle{
    width: 1171px;
    height: 250px;
    color: #000;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Kdam Thmor";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 125% */
    text-align: center;
}

.subTitle{
    width: 620px;
    height: 250px;
    color: #000;
    text-align: right;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Kdam Thmor";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; /* 125% */
}

.info{
    width: 659px;
    height: 217px;
    color: #2E2828;
    text-align: right;
    font-family: "Average Sans";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 200px;
}

.foto{
    width: 575px;
    height: 558px;
    border-radius: 46px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url(https://henriquecapriles.com/wp-content/uploads/2017/06/unimet-1080x675.jpg);
    margin-top: 50px;
}

.valueTitle{
    width: 620px;
    height: 50px;
    color: #000;
    text-align: left;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: "Kdam Thmor";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
}

.valueText{
    width: 659px;
    height: 217px;
    color: #2E2828;
    text-align: left;
    font-family: "Average Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}

.logo {
    background-image: url('../../public/Logo.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding: 0;

}

.text {
    font-family: "Average Sans";
    font-size: 25px;
    display: flex;
    text-align: left;
}