body {
  margin: 0px;
}

.mainTitle {
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  display: flex;
  height: 35px;
  width: 210px;
  align-items: center;
  padding: 15px 48px 15px 43px;
  border-radius: 20px;
  border: 1px solid #bcbcbc;
  margin-top: 10px;
  margin-bottom: 20px;

  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Google {
  height: 50px;
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  box-shadow: 8px 10px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;

  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: 10px;
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.mainButton {
  height: 50px;
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #f6821f;
  background: #f6821f;
  box-shadow: 8px 10px 4px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-right: 10px;
}

.rightImg {
  width: 800px;
  height: 760px;
  background-image: url(https://talcualdigital.com/wp-content/uploads/2019/11/Unimet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  background-position: left;
}
